{% extends "bizzfuzzUI/base.html" %}

{% load user_tags %}

{% block content %}
<h1>BizzFuzz</h1>
{% if all_users %}
<table>
    <thead>
        <tr><th>Username</th><th>Birthday</th><th>Eligible</th><th>Random Number</th><th>BizzFuzz</th><th>Action</th></tr>
    </thead>
    <tbody>
    {% for user in all_users %}
        <tr>
            <td><a title="Edit this user's information" href="{% url 'bizzfuzz:edit_user' user.id %}">User{{ user.id }}</a></td>
            <td>{{ user.birthdate.month }}/{{user.birthdate.day}}/{{user.birthdate.year}}</td>
            <td>{% valid_age user.get_age %}</td>
            <td>{{ user.random_number }}</td>
            <td>{% bizzfuzz user.random_number %} </td>
            <td><a onclick="return confirm('Really delete this?')" href="{% url 'bizzfuzz:delete_user' user.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>
<a href="{% url 'bizzfuzz:add_user' %}" title="Add a new user to the bizzfuzz service">Add a User</a> |
<a href="{% url 'bizzfuzz:list_user_excel' %}" title="Download an excel spreadsheet of the bizzfuzz users">Export to Execl</a>
</p>
{% endif %}
{% endblock %}