{% extends "bizzfuzzUI/base.html" %}
{% block title %}Enter a new password{% endblock %}

{% block content %}

{% if success_message %}
    <p style="color:#6495ed">{{success_message}}</p>

    <p><a href="{% url 'bizzfuzz:list_user' %}"</p>
{% endif %}


{% if not success_message %}
    <h1>Please enter a new password</h1>

    {% if exception_message %}
        <p style="font-weight:bold">{{exception_message}}</p>
    {% endif %}

    {% if user_info %}
    <form method="post" action="{% url 'bizzfuzz:forgot_password_reset_update' user_info.forgot_password_code %}">
            {% csrf_token %}
        <p>
            <label for="password1">Type Password:</label> <br />
            <input type="password" id="password1" name="password1"/>
        </p>

        <p>
            <label for="password2">Confirm Password: <br />
            <input type="password" id="password2" name="password2"/></label>
        </p>

        <p>
            <input type="submit" value="Save Password" />
        </p>

    </form>
    {% endif %}
{% endif %}
{% endblock %}