{% extends "bizzfuzzUI/base.html" %}
{% block title %}Forgot your password?{% endblock %}

{% block content %}
<h1>Forgot Password</h1>

{% if error_msg %}
    <p style="font-weight:bold">{{error_msg}}</p>
   {% if user_info %}
        <a href="{% url 'bizzfuzz:forgot_password_reset' forgot_password_code=user_info.forgot_password_code %}">Reset here (this would not exist in real code!)</a>
    {% endif %}
{% endif %}

{% if not user_info %}
    <form method="post" action="{% url 'bizzfuzz:forgot_password_send' %}">
        {% csrf_token %}

        <p>
        <label for="email_address">Email Address:</label><br />
        <input type="text" id="email_address" name="email_address" value="" />
        </p>

        <input type="submit" name="save" value="Send Password Reminder" />
    </form>
{% endif %}
{% endblock %}